<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @flower_shop_name %> 様</h3>

    <%# TODO: メールを送る日付はいつ？？月末に来月誕生日の人向けに送るの？月頭？どっち？？  %>
    <p>以下で指定された住所と日付にお花を送ってください。</p>

    <ul>
      <% @birthday_members.each do |member| %>
        <%# TODO: メニューを動的に選択できるようにした方が良さそう??(仕様面、要確認) %>
        <li><%= member.name %> <%= member.address %> バラセット 10000円</li>
      <% end %>
    </ul>

    <div class="my-3">
      <p>このメールはシステムから自動送信されています。</p>
      <p>ご不明な点がございましたら、お手数おかけしますがご返信お願いします。</p>
    </div>

    <h3><%= @company_name %></h3>
  </body>
</html>