<p><%= @email %> 様</p>
<p>この度は、弊社サービスへのユーザー登録をお申し込みいただき、誠にありがとうございます。</p>

<p>以下のリンクをクリックして、ユーザーアカウントを有効化してください。</p>

<p><%= link_to '有効化はこちら', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>もし心当たりがない場合は、このメールを破棄してください。</p>
