<p><%= @resource.email %> 様</p>
<p>パスワードのリセット手順を開始します。</p>
<p>以下のリンクをクリックしてパスワードのリセットを行ってください。</p>
<p><%= link_to 'パスワードのリセット', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>もし心当たりがない場合は、このメールを破棄してください。</p>
